{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>About</h1>
      <p>created by <a href="mailto:graham.annett@gmail.com">graham annett</a> <br><br> using <br> <br> cookiecutter-flask
      <br>  <br> pandas
      <br>  <br>  crossfilter+dc.js
    </div>
</div>
{% endblock %}

