{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="static/libs/dc.css"/>
<link rel="stylesheet" type="text/css" href="static/css/graph.css"/>
<link rel="stylesheet" type="text/css" href="static/css/style.css"/>
<link rel="stylesheet" type="text/css" href="static/libs/bootstrap/dist/css/bootstrap.css"/>

<script src="static/libs/d3.min.js"></script>
<script src="static/libs/queue.v1.min.js"></script>
<script src="static/libs/crossfilter.js"></script>
<script src="static/libs/dc.js"></script>
<script src="static/js/graphs.js"></script>
<!-- <div class="jumbotron"> </div>-->

<div class="body-content">
  <div class="row">
        <div class='col-md-3' id="piePersonSource">
          <h4>Source or Destination</h4>
        </div>
        <div class='col-md-3' id="meOrThemChart">
        <h4>Who Sent?</h4>
        </div>
        <div class='col-md-3' id='byMonth'>
          <h4>By Month</h4>
        </div>
        <div class='col-md-3' id="totalTextsND">
          <h4>Number of Texts</h4>
        </div>
  </div>
  <div class="row">
    <div class='col-md-6' id="txtLengthChart">
      <h4>Length of Texts By Hour</h4>
        <span></span>
    </div>
      <div class='col-md-6' id="txtCountChart">
        <h4>Count of Texts By Hour</h4>
      </div>
  </div>
  <div class="row">
    <h4>Messages</h4>
      <table class='table table-hover table-condensed' id='dc-data-table'>
        <thead>
          <tr class='header'>
            <th>Time</th>
            <th>Message</th>
            <th>Length</th>
            <th>ChatId</th>
            <th>User</th>
          </tr>
        </thead>
      </table>
  </div>
</div>


{% endblock %}

