body:before {
  content: "";
  position: fixed;
  height: 100%; width: 100%;
  background-size: cover;
  z-index: -1;

  -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.chart {
  display: inline-block;
  /*height: 180px;*/
  /*margin-bottom: 20px;*/

}

/*#txtCountChart {*/
  /*width: 100%;*/
  /*padding: 10px 0;*/
/*}*/

#totalTextsND {
    font-size: 75px;
}
#dc-data-table {
  width: 100%;
}
/*
#length-chart {
  width: 350px;
}

#friend-chart {
  width: 800px;
}

#date-chart {
  width: 800px;
}*/